/* Content
/* 1) About */
/* 2) Best work for about */
/* 3) Portfolio */
/* 4) Contact */


/* About */
.centers{
  width:75%;
}

.imageself{
    border-radius: 5%;
    width: 100%;
    border:solid 5px rgb(255, 255, 255);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); 
}

.innersection2{
    display: flex;
    margin: -20px auto;
    padding: 20px;
    width: 100%;
    margin-top: 2.5%;
}

.innercontrol2{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  
.columnstyle3 {
    flex: -1; 
    z-index: 1;
    width: 50%;
    margin-right: 4%;
    z-index: 0;
    animation: slideInFromRight 1s ease forwards;
}
 
.columnimage3 {
    flex: 1;
    z-index: 0;
    padding-right: 5%;
    animation: slideInFromLeft 1s ease forwards;
  }

.image-container3 {
    width: 60%;
    margin-left: auto;
}

@keyframes slideInFromLeft {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideInFromRight {
    from {
      transform: translateX(50%);
    }
    to {
      transform: translateX(0);
    }
  }
  

.Section2{
margin: 0 auto;
}

/* About Mobile */
@media screen and (max-width: 600px){
  .bargraph-container {
    display: none;
  }

  .innercontrol2{
    flex-direction: column;
    justify-content: space-between;
  }

  .image-container3{
    margin-bottom: 20px;
    margin: 0 auto;
  }

  .centers{
    width: 100%;
    text-align: center;
  }

  .columnstyle3 {
    width: 85%;
    margin-right: 4%;
    text-align: center;
  }

}

@media screen and (min-width: 768px) and (max-width: 900px){
  .bargraph-container {
    display: none;
  }

  .image-container3{
    margin-bottom: 20px;
    width: 90%;
  }

  .centers{
    width: 100%;
  }

}


/* Best work for about */
.space{
  margin-top: 2%;
}

/* Portfolio */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadein {
  animation: fadeIn 0.5s ease-in;
}

/* Contact */
.imagecontact{
  width: 100%;
  height: 100%; 
  object-fit: cover;
}

.columnimagecontact{
  flex: 1;
  padding-left: 1%;
  padding-right: 10%;
  z-index: 0;
  animation: slideInFromRight 1s ease forwards;
}

.columnstylecontact{
  flex: -1; 
  width: 50%;
  padding-left: 15%;
  animation: slideInFromLeft 1s ease forwards;
  z-index: 1;
}

.image-containercontact{
  width: 64%;
  margin-left: auto;
  margin-right: 50%;
}

.adjust{
padding-left: 260px;
}

.iconwhatsapp:hover path {
  fill: #37d3aa;
}
.icontelegram:hover path {
  fill: #0275c2;
}
.iconlinkedin:hover path {
  fill: #2864AA;
}

.section2 {
  margin-bottom: 5%;
  background-size: auto 100%, cover;
  background-position: left, center;
  padding: 20px;
  padding-top: 2.5%;
  overflow: hidden;
  text-align: center;
  box-shadow: 10px 3px 5px #8888887c;
  background-color: #ffffff;
}

.innersection2 {
  display: flex;
  align-items: center;
  margin: -40px auto;
  padding: 20px;
  width: 100%;
}

.innercontrol1{
  display: flex;
  width: 100%;
  align-items: center;
}
.columnstyle3 {
  width: 50%;
  padding-left: 15%;
  animation: slideInFromLeft 1s ease forwards;
  z-index: 1;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* contact mobile */
@media screen and (max-width: 600px) {
  .section2 {
    background: #F9F9F9;
    border: solid 0px rgb(246, 237, 244);
    overflow: hidden;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5%;
    padding: 0;
  }
  
  .innercontrol1 {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
  
  .innersection2 {
    margin: 0px auto;
    padding: 0px;
  }

  .columnstyle3 {
    width: 100%; 
    order: 2; 
    text-align: center;
    font-size: 16px;
    padding: 0;
    margin: 0;
  }

  .image-containercontact{
    margin: 0 auto;
  }

  .columnimagecontact{
    padding: 0;
    margin-bottom: 5%;
  }
}

@media screen and (min-width:700px) and  (max-width:900px) {
  .image-containercontact{
    width: 100%;
  }
}